bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/GeekbrainsAlgorithmsIntro/DesignTimeBuild
/.vs/GeekbrainsAlgorithmsIntro/FileContentIndex
/.vs/ProjectEvaluation
*.json
/.vs/Algorythms/v17
/.vs/GeekbrainsAlgorithmsIntro/v17
